# Pandas

* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html

In [1]:
!pip install pandas
!pip install xlrd

Requirement already satisfied: pandas in d:\python38\lib\site-packages (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in d:\python38\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in d:\python38\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in d:\python38\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in d:\python38\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: xlrd in d:\python38\lib\site-packages (1.2.0)

In [1]:
import pandas as pd
df = pd.read_excel('population.xlsx')

df

                行業         人口
0            農業及漁業     4504.0
1           採礦及採石業      190.0
2              製造業   142973.0
3      電力、燃氣及自來水供應    22497.0
4              建造業   275517.0
5       進出口、批發及零售業   805269.0
6   運輸、倉庫、郵政及速遞服務業   316597.0
7         住宿及膳食服務業   278939.0
8           資訊及通訊業   116757.0
9           金融及保險業   219564.0
10             地產業   135878.0
11     專業、科學及技術服務業   171763.0
12        行政及支援服務業   154434.0
13            公共行政   106643.0
14              教育   178097.0
15       醫療保健及社工活動   169469.0
16     藝術、娛樂及休閒服務業    59115.0
17           其他服務業   103296.0
18      家庭住戶內部工作活動   285251.0
19             NaN        NaN
20              總計  3546753.0